{% include 'ccompiler/base.html' %}
{% block creatives_content %}

<div class="container">

    <div class="container">
            <h2 class="ap-title"> C Compiling and Testing System (CTS)</h2>
   </div>

   <h3 class="page-header"> Welcome to the C Compiling and Testing System (CTS). </h3>
    <p> This system has been developed to assist with the testing and performance benchmarking of C programs.
        Follow all instructions carefully.</p>
    <br>

    <button><a href=""> Testing System</a> </button>

    <iframe width="800" height="500" src="https://www.youtube.com/embed/Kjpa0SMOug0" frameborder="0" allowfullscreen></iframe>

</div>




{% endblock %}