{% extends "avrcompiler/base.html" %}

{% block creatives_content %}

<div class="container">
    <div class="container">
            <h2 class="ap-title"> Compiler for AVR</h2>
   </div>

   <div class="container">
    {% if message %}
        <div class="col-md-10 col-md-offset-2">
         <div class="col-sm-10 alert alert-info">
	    {% for line in message %}
		{{ line }} <br />
	    {% endfor %}
         </div>
        </div>
        {% endif %}
    {% if errormessage %}
        <div class="col-md-10 col-md-offset-2">
         <div class="col-sm-10 alert alert-danger">
            {{ errormessage }}
         </div>
        </div>
        {% endif %}
   </div>

	<div class="container">
		<form class="form-group" action="/" method="POST">
		    {% csrf_token %}
            <input type="text" id="progname" name="progname">{{ name }}</input>
  			<textarea class="form-control" rows="15" id="code" name="code">{{ code }}</textarea>
            <input type="hidden" id="progid" name="progid" value="{{ id }}"></input>
			<button type="submit" class="btn btn-default" >Submit code to PASTA</button>
		</form>

        <hr>
    </div>
</div>


{% endblock %}

