{% load staticfiles %}

<!DOCTYPE html>
 <html>
<head>
    <!-- some parts from audience precision project -->
    <meta content="text/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AVR Remote Compiler</title>

    <!-- jQuery & jQuery Mobile -->
    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom CSS File: -->
    <!-- <link href="{% static 'css/creatives.css' %}" type="text/css" media="all" rel="stylesheet" /> -->

</head>
<body>
  <div id="wrap" class="wrap">
    <nav class="navbar navbar-inverse navbar-static-top">
        {% block creatives_navbar %}
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'compiler' %}">AVR Compiler 1.0</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {% block creatives_navlinks %}
                  {% if user.is_authenticated %}
                    <!-- menu_items.html -->
                  {% endif %}
                {% endblock %}
              </ul>

              <ul class="nav navbar-nav pull-right" >
                  <li> {% include 'authsystem/auth-navbar.html' %} </li>

              </ul>

            </div><!--/.nav-collapse -->

          </div>
    </nav>
      </div> <!-- wrap -->
  {% endblock %}
    <div class="container">
        <div class=starter-template">
            {% block creatives_content %}
            {% endblock %}
        </div>
    </div><!-- container -->
    {% block creatives_footer %}
    <div id="footer">
    <div class="container">
        <p class="text-muted text-right">
            &copy; Cian Byrne - 2015
        </p>
    </div>
        {% endblock %}
</div>



</body>
</html>
