{% extends "avrcompiler/base.html" %}

{% block creatives_content %}

<div class="container">
    <div class="container">
            <h2 class="ap-title"> Compiler for AVR</h2>
   </div>
	<!--<div class="container">-->
		<!--<div class="well">-->
			<!--<form class="form-inline" action="/files/" method="POST">-->
				<!--{% csrf_token %}-->
				<!--<label for="file">File Name:</label>-->
				<!--<input type="text" class="form-control" id="file" name="file">{{ file }}</input>-->
				<!--<select class="form-control" id="type" name="type">-->
                   			<!--<option value="0">SAVE</option>-->
                   			<!--<option value="1" selected>LOAD</option>-->
        			<!--</select>-->
				<!--<input type="hidden" id="action" name="action" value="file">-->
				<!--<button type="submit" class="btn btn-default btn-sm">GO</button>-->
			<!--</form>-->
		<!--</div>-->
	<!--</div>-->
   <div class="container">
    {% if message %}
        <div class="col-md-10 col-md-offset-2">
         <div class="col-sm-10 alert alert-info">
	    {% for line in message %}
		{{ line }} <br />
	    {% endfor %}
         </div>
        </div>
        {% endif %}
    {% if errormessage %}
        <div class="col-md-10 col-md-offset-2">
         <div class="col-sm-10 alert alert-danger">
            {{ errormessage }}
         </div>
        </div>
        {% endif %}
   </div>

	<div class="container">
		<form class="form-group" action="/" method="POST">
		{% csrf_token %}
			<label for="code">AVR Code - {{ name }}.asm</label>
  			<textarea class="form-control" rows="15" id="code" name="code">{{ code }}</textarea>
            <input type="hidden" id="progid" name="progid" value="{{ id }}"></input>
            <input type="hidden" id="progname" name="progname" value="{{ name }}"></input>
			<button type="submit" class="btn btn-default" >Submit code to PASTA</button>
		</form>

        <hr>
		<label for="console">Console</label>
		<textarea class="form-control" rows="5" id="console" name="console">{% if console %}{{ console }} {% endif %}</textarea>

    </div>
	<hr>
	<a href="{% url 'files' %}" class="btn btn-default btn-sm"> View Files </a>
    <form class="form-group" action="{% url 'file' %}" method="POST">
		{% csrf_token %}
  			<input type="hidden" id="code" name="code"></input>
            <input type="hidden" id="progid" name="progid" value="{{ id }}"></input>
            <input type="hidden" id="progname" name="progname" value="{{ name }}"></input>
			<button type="submit" class="btn btn-default btn-sm" > Save</button>
    </form>
</div>


{% endblock %}

