{% if user.is_authenticated %}

<div class="container" style="margin-top:30px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Change Password </strong></h3></div>
                <div class="panel-body">
                    <form method="post" action="{% url 'change password' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}">New Password</label>
                            <input type="password" class="form-control" id="{{ form.password1.auto_id }}" name="{{ form.password1.html_name }}" placeholder="New Password">
                            {% for error in form.errors.password1 %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}">Confirm New Password</label>
                            <input type="password" class="form-control" id="{{ form.password2.auto_id }}" name="{{ form.password2.html_name }}" placeholder="Confirm Password">
                            {% for error in form.errors.password2 %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <input type="hidden" name="username" value="{{ user.id }}" />
                        <input type="submit" class="btn btn-sm btn-default" value="Change My Password" class="default" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Auto-focus on login box
$(document).ready(function() {
    $('#{{ id_old_password }}').focus();
});
</script>

{% else %}
<div class="col-md-12  alert alert-info text-center">
You must be logged in.
    <br> Click <a href=" {% url 'login' %}"> Here </a> to Login again.
</div>
{% endif %}